PyQt5
PyQt5-Qt5
PyQt5_sip
pygame
pywin32
pyinstaller
auto-py-to-exe
build
pyproject.toml
cffi
pycparser
docutils
filelock
packaging
pluggy
pygments
entrypoints
pywinusb
futures
importlib-metadata
importlib-resources
h11
httpcore
httpx
idna
urllib3
jmespath
pyasn1
pyasn1-modules
kaitaistruct
pycryptodome
pycryptodomex

